<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Export Spotify "Your music"</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Export Spotify <em>"Your music"</em></h1>
      </div>
      
      {{range .Flashes}}
      <div class="alert alert-info" role="alert">{{.}}</div>
      {{end}}
      
      {{if .Login}}
      <a href="/logout" class="btn btn-danger">Log out</a>
      {{end}}
      <button class="btn btn-primary" data-role="export">Export</button>
      <form class="form-inline" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
           <input type="file" class="form-control" name="import"/>
          <button type="submit" href="/logout" class="btn btn-warning">Import</button>
        </div>
      </form>
      <div class="panel panel-default">
        <div class="panel-body">
          {{if .Login}}
            {{if .Authenticated}}
              <ul data-role="export-container" class="list-group"></ul>
            {{else}}
              <a href="{{.AuthUrl}}" class="btn btn-default" data-role="grant-action">Grant access</a>
            {{end}}
          {{else}}
            <form action="/login" method="POST" class="form-inline">
              <div class="form-group">
                <input type="text" name="login" placeholder="Email Address" class="form-control"/>
                <button type="submit" class="btn btn-default">Log in</button>
              </div>
            </form>
          {{end}}          
        </div>
      </div>
    </div>
    <form style="display: none;" method="GET" action="/api/trackList" data-role="export-form">
      <input type="hidden" value="true" name="export"/>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
    
    <script>
      $(document).ready(function(){
        if ($("[data-role='export-container']").length == 0) {
          return
        }
        
        $.getJSON("/api/trackList", function(data) {
          for (i = 0; i< data.items.length; i++) {
            var item = data.items[i];
            
            console.log(item)
            
            var s = item.track.artists[0].name + " - " + item.track.album.name + " - " + item.track.name;
            
            var li = $("<li class='list-group-item'>" + s + "</li>");
            
            $("[data-role='export-container']").append(li);
          }
        });
        $("[data-role='export']").click(function() {
          $("[data-role='export-form']").submit();
        })
      });
    </script>
  </body>
</html>